

.mainDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .bmiCalculator{
        // border: 1px solid black;
        width: 70%;
        height: 100%;
        padding: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        .firstrow{
            display: flex;
            width: 100%;
            height: 80%;
            h1{
                color: #ee872a;
                color: #662d65;
                color: #1877f2;
            }
        
            .gw_container{
                width: 50%;
                height: 100%;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    h1{
                        font-weight: 600;
                    }
                }
                .gender{
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 30%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .weight{
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 30%;
                }
                .tribe{
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 20%;
                    justify-content: flex-start;
                    p{
                        // font-weight: 300;
                        font-size: small;
                    }
                }
                .religion{
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 20%;
                    justify-content: flex-start;
                    p{
                        // font-weight: 300;
                        font-size: small;
                    }
                }
            }
            .ho_container{
                height: 100%;
                width: 50%;
                h1{
                    font-weight: 600;
                }
                .height{
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    h1{
                        font-weight: 600;
                    }
                    img{
                        object-fit: contain;
                        height: 100%;
                    }
                }
                .occupation{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 15%;
                    p{
                        // font-weight: 300;
                        font-size: small;
                    }
                }
                .medical_condition{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #f9f5f5;
                    box-shadow: 2px 2px 5px grey;
                    width: 100%;
                    height: 15%;
                    p{
                        // font-weight: 300;
                        font-size: small;
                    }
                }

            }
        }
        .bmiIndi{
            width: 100%;
            height: 20%;
            box-shadow: 2px 2px 5px grey;
            color: #f95353;
            padding: 10px 20px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            position: relative;
            &:hover{
                &::after{
                    content: "color of the background indicates your weight's healthiness";
                    position: absolute;
                    top: -70px;
                    right: -90px;
                    z-index: 6;
                    color: white;
                    background-color: black;
                    padding: 5px;
                    font-size: x-small;
                    width: 100px;
                    border-radius: 10px;
                    border-bottom-left-radius: 0;
                    word-wrap: break-word;
                }
            }
            img{
                width: 200px;
                height: 100%;
                object-fit: contain;
            }
            h1{
                color: #1877f2;
                // font-size: x-large;
                font-weight: 600;
            }
            p{
                font-size: x-large;
                font-weight: 700;
            }
            span{
                font-size: medium;
                font-weight: 600;
                opacity: 0.8;
            }
            &.underweight{
                background-color: #87b1d9;
                
            }
            &.normal{
                background-color: #3cd264;
                
            }
            &.overweight{
                background-color: #ede032;
                
            }
            &.obese{
                background-color: #fd802e;
                
            }
            &.x_obese{
                background-color: #f95353;

            }
        }

    }

    .userDetails{
        background-color: #f9f5f5;
        padding: 10px;
        width: 30%;
        height: 100vh;
        align-self:  flex-end;
        // box-shadow: 2px 2px 30px grey;
        // margin-right: 20px;
        // border-radius: 10px;
        // background-color: white;
        h1{
            font-weight: 700;
            font-size: 18px;
            // color: #34ad39;
            opacity: 0.6;
            margin-bottom: 10px;
        }
        .imageContainer{
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            align-items: center;
            div{
                background-color: white;
                // border: 1px solid black;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 300px;
            }
            p{
                text-transform: capitalize;
                font-weight: 600;
            }
            span{
                font-size: small;
                opacity: 0.5;
            }
        }
        .info_row{
            display: flex;
            justify-content: space-around;
            background-color: #662d65;
            background-color: #662d65;
            color: white;
            padding: 5px 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin-bottom: 10px;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    font-size: small;
                    // opacity: 0.5;
                    color: #ee872a;
                }
                p{
                    text-transform: capitalize;
                    font-weight: 600;
                }
                
            }
        }
        .calenderHolder{
            // border: 1px solid black;
            div {
                background-color: #fff;
                width: auto;
                color: #34ad39;
                color: #1877f2;
                font-weight: 600;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                // height: 200px;
                // object-fit: contain;
                .MuiPickersCalendarHeader-label{
                    font-weight: 900;
                }
            }
        }
    }
}